RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RedirectMatch 301 /t/(.*) "https://forums.reclaimhosting.com/t/$1"
RedirectMatch 301 /u/(.*) "https://forums.reclaimhosting.com/u/$1"
RedirectMatch 301 /c/(.*) "https://forums.reclaimhosting.com/c/$1"
RedirectMatch 301 /uploads/(.*) "https://forums.reclaimhosting.com/uploads/$1"
